* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #585b5b;
}
#main {
  width: 100%;
  height: 71px;
  position: relative;
  background-color: silver;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(247, 241, 229);
}
.logo img {
  height: 100px;
  width: 150px;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: poppins;
}

nav ul li a:hover {
  background-color: #2adabc;
  color: #fff;
  box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
  transition: all ease 0.2s;
}

.say {
  color: #39bfbd;
  font-weight: 1000;
  font-size: 2rem;
  border-bottom: 2px solid #40c6c4;
  transition: 0.5s;
}
/* about------------------------------ */
#profile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.bg {
  width: 100%;
  height: 100%;
}

.model {
  width: 200px;
  height: 250px;
  box-shadow: 0px 0px 20px black;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 45%;
}
.model .pro {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.text {
  position: absolute;
  top: 43%;
  left: 39%;
}
.text h1 {
  font-size: 45px;
  color: black;
  font-family: "Pattaya", sans-serif;
}
.text span {
  color: red;
  box-shadow: 0px 0px 35px gray;
}

.text h3 {
  font-style: italic;
  font-size: xx-large;
  font-weight: normal;
  line-height: 0px;
  color: black;
  font-family: "Pattaya", sans-serif;
}
.text hr {
  color: black;
  line-height: 0%;
}
.text p {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  color: #eeee00;
  box-shadow: 0px 0px 25px gray;
}
/* my skills-------------------------- */
.skills {
  width: 100%;
  height: 700px;
  background-color: rgb(247, 241, 229);
  margin-top: -30px;
  position: relative;
}
.skill-text h4 {
  display: flex;
  color: limegreen;
  font-size: 25px;
  position: absolute;
  top: 5%;
  left: 35%;
  border-bottom: 2px solid lime;
}
.skill-text h2 {
  display: flex;
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 9%;
  left: 35%;
  bottom: 50px;
}
.skill-text p img {
  width: 50px;
  height: 50px;
}
.skill-text span {
  font-size: 25px;
  font-weight: lighter;
  font-family: impact;
  line-height: 28px;
}
.skill-text p {
  font-size: 18px;
  font-weight: lighter;
  margin: 0px auto;
  margin-top: 20px;
  background-color: rgb(243, 174, 161);
  width: 600px;
  text-align: right;
  box-shadow: 8px 10px 5px lightslategray;
  font-family: "Pattaya", sans-serif;
}
/*---------------------------------------------------------- recent project------------------- */
.recent {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(247, 241, 229);
  margin-top: -30px;
}
.recent h3 {
  color: limegreen;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
  line-height: 0px;
}
.recent hr {
  width: 150px;
  text-align: center;
}
.recent h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  text-align: center;
}
/* -------------parents---------------- */
#work {
  width: 85vw;
  height: 450px;
  display: flex;
  justify-content: space-around;
  margin: 0px auto 0px auto;

  /* transition: all ease 0.2s linear; */
}
#work .recent-one {
  height: 350px;
  width: 30%;

  box-shadow: 0px 0px 15px black;
  margin: 15px;
}
#work .recent-one img:hover {
  width: 105%;
  height: 380px;
}
#work .recent-one img {
  width: 100%;
  height: 350px;
  transition: 0.5s;
}

/* -----------------------------------------------------------clint say------------------------- */
.clint {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: rgb(247, 241, 229);
  margin-top: -30px;
}
.clint h3 {
  color: limegreen;
  font-size: 25px;
  text-align: center;
  padding-top: 50px;
}
.clint hr {
  width: 200px;
  text-align: center;
}
.clint h1 {
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  text-align: center;
  line-height: 20px;
}
/* grand parents */
.comments {
  width: 75vw;
  height: 550px;
  margin: 0px auto 0px auto;
  display: flex;
  justify-content: space-between;
}
.comments .customer {
  height: 486px;
  width: 18vw;
  flex: 1 1;
  margin: 30px 80px 0px 80px;
  background-color: rgb(243, 174, 161);
  box-shadow: 0px 0px 15px gray;
  transition: 0.2s;
  position: relative;
  box-sizing: border-box;
}
.comments .customer:hover {
  box-shadow: 0px 0px 25px black;
}
.comments .customer img {
  height: 180px;
  width: 130px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
  position: absolute;
  top: 10px;
  right: 0px;
  left: 0px;
  margin: auto;
}
.icon {
  width: 16vw;
  height: 30px;
  margin: 200px auto 0px auto;
  text-align: center;
}
.icon .fas {
  color: #c44569;
  font-size: 25px;
}
.review {
  width: 17vw;
  height: 245px;
  margin: 0px auto 0px auto;
}
.review h2 {
  text-align: center;
  font-family: impact;
  color: #434444;
  letter-spacing: 2px;
}
.review p {
  width: 95%;
  margin: 0px auto 0px auto;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  color: #585b5b;
  padding-bottom: 10px;
}
.review button {
  letter-spacing: 1px;
  background-color: #39bfbd;
  color: rgb(247, 241, 229);
  box-shadow: 0px 0px 8px lightgrey;
  padding: 10px 15px;
  font-size: 18px;
  font-family: poppins;
  position: absolute;
  bottom: 20px;
  left: 0px;
  right: 0px;
  margin: auto;
}
.review button:hover {
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
}

/* -------contact us section------------  */
/* ------------------------------------------------contact us        section----------------------------------------------------------------------------------------------------------  */
.contact {
  width: 100vw;
  height: auto;
  background-color: rgb(247, 241, 229);
  position: relative;
  box-sizing: border-box;
  margin-top: -42px;
}
@media (max-width: 768px) {
  .contact {
    height: auto;
  }
}
.contact h1 {
  font-size: 50px;
  font-family: impact;
  font-weight: normal;
  color: #c44569;
  text-align: center;
}
.contact hr {
  width: 250px;
  margin-top: -30px;
}
.contact p {
  width: 30vw;
  text-align: center;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  font-size: 20px;
  margin: 0px auto;
  color: #34495e;
  padding-bottom: 50px;
}
.main-location {
  width: 80vw;
  height: auto;
  color: #34495e;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  transition: all 0.2s linear;
}
.main-location .location {
  height: 250px;
  background-color: #7f8fa6;
  box-shadow: 0px 0px 20px #596275;
  flex: 1 1 200px;
  margin: 20px;
  transition: 0.2s;
}
.main-location .location:hover {
  transform: scale(1.01);
}
.main-location .location:first-child {
  background-color: #fffa65;
}
.main-location .location:last-child {
  background-color: #4cd137;
}
.main-location .location .fas,
.far {
  color: red;
  font-size: 50px;
  padding-top: 20px;
  padding-left: 45%;
  line-height: -20px;
  width: 180px;
  height: 15px;
}
.main-location .location h4 {
  text-align: center;
  font-size: 30px;
  line-height: 0px;
  line-height: 20px;
  width: 500px;
  height: 0px;
}
.main-location .location p {
  color: black;
  text-align: center;
  margin: 0px auto 20px auto;
  width: 350px;
  height: 20px;
  font-size: 24px;
}
/* ----form for contact---------- */
.form {
  width: 25vw;
  height: 68vh;
  background-color: #cd84f1;
  margin: 0px auto -30px auto;
  position: relative;
  box-shadow: 0px 0px 15px #2c3a47;
}
.form:hover {
  box-shadow: 0px 0px 15px black;
}
.form p {
  font-size: 40px;
  text-align: left;
  margin: 30px 0px 0px 15px;
  padding-top: 20px;
  margin-bottom: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.form input {
  width: 20vw;
  height: 7vh;
  text-align: left;
  margin-left: 11.5%;
  margin-bottom: 30px;
  font-size: 20px;
  color: #585b5b;
  border-radius: 3%;
  border: none;
  outline-color: #a5b1c2;
}

.form input:last-child {
  width: 20vw;
  height: 13vh;
  text-align: center;
  margin-left: 11.5%;
  margin-bottom: 30px;
}
.form a button {
  padding: 13px 22px;
  background-color: #ffcccc;
  border-radius: 10%;
  font-size: 22px;
  margin: 20px 0px 80px 37%;
  font-family: poppins;
  text-transform: uppercase;
}
.form a button:hover {
  background-color: #ffb8b8;
  cursor: pointer;
}
/* -------fab and intagram---------- */
.fav {
  width: 100vw;
  height: 350px;
  margin-bottom: 0px;
  margin-top: 50px;
}
.fav h4 {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  line-height: 60px;
}
.fav .insta {
  width: calc(200px +17vw);
  height: 100px;
  margin: 0px auto 80px auto;
  text-align: center;
}
.fav .insta a {
  font-size: 60px;
  letter-spacing: 50px;
  text-align: center;
}
